pandas
numpy
scikit-learn
matplotlib
seaborn
xgboost
shap
scikit-plot
yellowbrick
jupyter
ipykernel
streamlit

# RAG dependencies
google-generativeai
faiss-cpu
langchain
langchain-google-genai
langchain-community
biopython
tiktoken
